.Home-container {
    max-width: 100vw;
    margin: auto;
    padding: 16px;
    background-color: #f3f4f6;
    min-height: 100vh;
    
}
.greetings h1{
font-size: 18px;
font-weight: bold;
}
.greetings p{
    color: #6b7280;
    font-size: 14px;
}

.message{
   
    position: relative;
    background-color: rgb(105, 208, 240);
    color: white;
    border: 1px solid rgb(248, 107, 114);
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(70, 64, 64);
   
}
.message p{
    font-size: 16px;
    font-weight: 400px;
}
.banner img{
    position: absolute;
    right: 16px;
    bottom: 16px;
    width: 80px;
    
}

.container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    height: 30%;
}
.pharmacie{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 16px;
   text-align: center;
   margin-top: 50px;
   border: 1px solid rgb(248, 107, 114);
   border-radius: 10px;
   
}
.container p{
    padding: 12px;
    background-color: rgb(105, 208, 240);
    font-size: 12px;
    font-weight: bold;
    
}
