
.navbar ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: center;

}
.navbar ul li{
margin-right: 20px;
text-decoration: none;
color: black;
cursor: pointer;
}

.navbar .menu{
    width: 50px;
    height: 50px;
}
.logo img{
    width: 100px;
    height: 70px;
}
.logo strong{
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer{
    background-color: #cccccc;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: #f8f9fa;
  }
  
#Search{
    text-align: center;
    border-radius: 10px;
    height: 30px;
    border: 1px solid;

}
.Search-fxn{
    display: flex;
    align-items: center;
    position: absolute;
    right: 12px;

}
  
.Signup-container{
    font-family: sans-serif;
    background-color: #f8f9fa;
}
.form-content{
    display: flex;
    flex-direction: column;
justify-content: center;
    align-items: center;
    max-width: 300px;
    margin: 30px auto;
    padding: 10px;
    background-color: #607e8a;
    border: 3px solid #cccccc;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(70, 64, 64);
}
.form-content .validate-input{
    width: 250px;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    height: 35px;
    color: black;
}
